/* common CSS rules */
html {
	width: 50em; margin: 2em 3em; line-height: 1.5em;
	font-size: 14px; font-family: Arial, Helvetica, sans-serif;
	color: #221100; background: #ebebeb;
}

main {
	display: flex;
}

section {
	margin-bottom: 1em;
}

h1 {
	margin: 0em 0em 0.2em 0em;
}

span,label {
	display: inline-block;
}

table {
	border-collapse: collapse;
}

header>nav.tab {
	margin: 0.5em 0em 0.5em 0em;
	border: solid 1px #6d6d6d;
	border-radius: 2em;
	padding: .55em .5em 0 .5em;
	background: linear-gradient(#a9a9a9, #7a7a7a);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

header>nav.tab>button {
	font-size: 150%;
	margin-bottom: 0.6em;
}

header>nav.tab>button.active {
	color: green;
}

article.left,article.right {
	width: 0em;
}

article.center {
	width: 50em;
}

footer {
	margin-top: 1em;
}

footer>input.message {
	color: green;
}


/* Skat specific CSS rules */
article.center>section.authentication label {
	width: 6em;
}

article.center>section.authentication input {
	width: 20em;
}


article.center>section.preferences-editor fieldset {
	margin: 0; background: #e2e2e2;
}

article.center>section.preferences-editor img.avatar {
	width: 6em; height: 6em;
	vertical-align: middle;
}

article.center>section.preferences-editor img.avatar:hover {
	opacity: 0.7;
}

article.center>section.preferences-editor label {
	width: 6em;
}

article.center>section.preferences-editor>fieldset.account input {
	width: 26em;
}

article.center>section.preferences-editor>fieldset.address input {
	width: 26em;
}

article.center>section.table-selection table.skat td > img {
	width: 6em; height: 6em;
}